@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

body {
  @apply text-white bg-gray-800;
  margin: 0;
  border: 0;
  outline: 0;
}

#motion-demo {
  offset-path: path(
    "m283.51428,239.37143c0,-4 -1.49963,-14.97121 -2,-28c-0.69077,-17.98674 0.62433,-38.7121 8,-59c7.64001,-21.015 23.3797,-35.18878 41,-39c22.56497,-4.88074 49.18677,1.31429 72,13c25.67236,13.15025 48.55783,35.08147 66,61c18.98254,28.20749 30.38992,62.27948 43,89c14.31482,30.33292 30.08032,63.31247 47,86c13.55371,18.17407 25.79932,25.41031 35,26c11.02277,0.70648 20.46637,-5.75946 27,-19c9.70502,-19.66754 15.12054,-40.97626 19,-61c3.09631,-15.98163 5,-25 5,-28l1,-2"
  );
  animation: move 5000ms infinite alternate ease-in-out;
}

#motion-demo-2 {
  offset-path: path(
    "m234.51428,119c1,-5 4.77258,-15.98282 13,-25c11.47809,-12.57988 32.5061,-23.16686 55,-32c29.43463,-11.55869 67.95416,-18.4256 108,-19c47.0058,-0.67423 85.81375,3.30942 113,13c17.69757,6.30833 23.24829,15.08699 22,24c-2.01953,14.41949 -18.00952,35.9077 -41,60c-28.80588,30.18643 -64.49539,60.47061 -103,97c-40.52902,38.44995 -84.8815,78.93857 -120,109c-33.8806,29.0018 -56.89586,53.67303 -64,73c-5.2776,14.35782 -2.91969,24.3764 1,26c2.77164,1.14804 12.43027,1.4827 32,-5c37.02161,-12.26382 81.11234,-34.7547 125,-55c47.12207,-21.7373 91.73059,-43.80386 130,-68c34.69562,-21.93658 59,-38 73,-46l6,-4l1,0"
  );
  animation: move 5000ms infinite alternate ease-in-out;
  animation-delay: 1s;
}

@keyframes pulse {
  50% {
    opacity: 0.2;
  }
}

.animate-pulse {
  animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.offset-1s {
  animation-delay: 1000ms;
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
